#menu
{
	position:fixed;
	width: 100%;
	background-color:whitesmoke;
	z-index:1;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top{
	text-align: center;
	padding: 0.01em 16px;
}

#right-menu{
	float: right;
	margin-right: 16px;
}

#button{
	border: none;
	overflow: hidden;
	padding: 8px;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	}

#button:hover{
	background-color: #ccc;
	color: #000;
}


.wide{
	letter-spacing: 4px;
}

.section{
	padding: 175px;
}

h1{
	font-family:"Marker Felt" ,fantasy;
	 text-align:center; 
	 font-weight: 5;
}

#row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  #column {
	flex: 23%;
	max-width: 23%;
	padding: 0 4px;
  }

  #column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	margin-bottom: -6px; 
  }

  #column img:hover {
	opacity: 0.6;
	transition: 0.3s
  }

  #photos, #contact, #qrcoder{
	  background-color: rgb(221, 220, 220);
  }

  #playlist, #like{
	text-align: center;
  }

  #like{
	  background-color: rgb(161, 159, 159);
  }

  .form-control{
	  padding:.375rem .75rem;
	  font-size:1rem;
	  font-weight:400;
	  line-height:1.5;
	  color:#495057;
	  background-color:#fff;
	  background-clip:padding-box;
	  border:1px solid #ced4da;
	  border-radius:.25rem;
	  border-color: black;
	}

	.btn{
		color:#fff;
		background-color:#343a40;
		border-color:#343a40;
		padding:.2rem 2.5rem;
		font-size:1rem;
		line-height:1.5;
		border-radius:.3rem;
	}

	.btn:hover{
		color:#fff;
		background-color:#23272b;
		border-color:#1d2124;
	}

	td, th{
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		border: 1px solid #dddddd;
		text-align: center;
		padding: 8px;
	}
	
